.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  

  .success {
    background-color: #4caf50;
  }
  

  .error {
    background-color: #f44336;
  }
  

  .closeButton {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 10px;
    cursor: pointer;
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  